<%- include('header') -%>

<div class="box box-header" id="heading">
    <h1>Express & EJS</h1>
</div>
<div class="box box-content">
<h2>EJS</h2>
<p>Reference: <a href="https://ejs.co/" target="_blank">ejs.co</a></p>

<h2>Express</h2>
<p>Reference: <a href="https://expressjs.com/" target="_blank">expressjs.com</a></p>
</div>
<%- include('footer') -%>